@charset "UTF-8";
/* 레이아웃 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* 헤더 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  width: 140px;
  margin: 18px 0 0 20px;
}

.header h1 svg {
  fill: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header h1 svg:hover {
  fill: #000;
}

.header .nav li {
  display: inline;
}

.header .nav li a {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 26px 20px;
  display: inline-block;
}

.header .nav li a span {
  position: relative;
}

.header .nav li a span::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 100%;
  height: 0;
  border-top: 2px solid #d83832;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .nav li.live a {
  padding: 4px 20px 6px 20px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 20px;
}

.header .side-nav {
  margin-right: 40px;
}

.header .side-nav li {
  display: inline;
}

.header .side-nav li a {
  width: 25px;
  display: inline-block;
  padding: 28px 10px 20px 20px;
}

/* 배너  */
#banner {
  position: relative;
}

#banner .swiper-slide h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 82px;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

#banner .btn-quick a {
  position: absolute;
  left: 50%;
  bottom: -25px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #96c11f;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#banner .btn-quick a img {
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 20px;
}

#banner .swiper-pagination .icon-pause {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 80px;
  width: 30px;
}

#banner .swiper-pagination .icon-play {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 80px;
  width: 30px;
}

/* 뉴스 */
#news {
  padding: 115px 0 150px 0;
  text-align: center;
}

#news h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 60px;
}

.notice .swiper-slide:nth-child(even) {
  margin-top: 100px;
}

.notice .swiper-slide {
  width: 458px;
}

.notice .swiper-slide .info {
  position: relative;
  text-align: left;
  padding: 30px 40px;
}

.notice .swiper-slide .info h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.notice .swiper-slide .info time {
  color: #999;
  font-size: 14px;
}

.notice .swiper-slide .info a {
  position: absolute;
  right: 40px;
  bottom: 30px;
  text-transform: uppercase;
  color: #999;
  padding-right: 40px;
  display: none;
}

.notice .swiper-slide .info a::before {
  content: '';
  width: 30px;
  height: 2px;
  background: #ca0202;
  position: absolute;
  right: 0;
  top: 8px;
}

.notice .swiper-slide .info a::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ca0202;
  position: absolute;
  right: 0;
  top: 6px;
}

.notice .swiper-slide:hover a {
  display: block;
}

.notice .notice-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.notice .notice-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* 인트로 */
#intro h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.intro {
  text-align: center;
  padding-bottom: 100px;
}

.intro .intro-img {
  margin: -5% 5% 0 5%;
}

.intro .intro-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.intro .intro-intro div {
  padding: 30px 20px;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #d70000;
  text-align: center;
}

.intro .intro-intro div h3 {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 30px;
}

.intro .intro-intro div p {
  font-size: 23px;
  color: #454545;
}

.intro .intro-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.intro .intro-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* story */
#story {
  background: #F6F6F6;
  padding-top: 100px;
  padding-bottom: 200px;
}

#story h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.story {
  position: relative;
  text-align: center;
}

.story .story-frame {
  width: 300px;
  height: 600px;
  border: 10px solid #000;
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.story .swiper-slide {
  padding-top: 130px;
  width: 340px;
  height: 644px;
}

.story .swiper-slide .simg {
  width: 263px;
  height: 263px;
  margin: 0 auto;
}

.story .swiper-slide .stxt {
  padding: 40px;
  text-align: left;
}

.story .swiper-slide .stxt h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
  color: #212529;
  width: 120px;
  border-bottom: 3px solid #000;
}

.story .swiper-slide .stxt p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  display: -webkit-box;
  -weebkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 40px;
}

.story .swiper-slide .stxt time {
  font-size: 12px;
  color: #ccc;
  line-height: 1.75;
}

.story .swiper-slide:nth-child(1) .simg {
  background: url(../img/tbanner1.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(2) .simg {
  background: url(../img/tbanner2.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(3) .simg {
  background: url(../img/tbanner3.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(4) .simg {
  background: url(../img/tbanner4.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(5) .simg {
  background: url(../img/tbanner5.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(6) .simg {
  background: url(../img/tbanner6.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(7) .simg {
  background: url(../img/tbanner7.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(8) .simg {
  background: url(../img/tbanner8.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(9) .simg {
  background: url(../img/tbanner9.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(10) .simg {
  background: url(../img/tbanner10.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(11) .simg {
  background: url(../img/tbanner11.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(12) .simg {
  background: url(../img/tbanner12.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(13) .simg {
  background: url(../img/tbanner13.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(14) .simg {
  background: url(../img/tbanner14.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(15) .simg {
  background: url(../img/tbanner15.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(16) .simg {
  background: url(../img/tbanner16.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(17) .simg {
  background: url(../img/tbanner17.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(18) .simg {
  background: url(../img/tbanner18.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(19) .simg {
  background: url(../img/tbanner19.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(20) .simg {
  background: url(../img/tbanner20.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(21) .simg {
  background: url(../img/tbanner21.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(22) .simg {
  background: url(../img/tbanner22.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(23) .simg {
  background: url(../img/tbanner23.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(24) .simg {
  background: url(../img/tbanner24.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(25) .simg {
  background: url(../img/tbanner25.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(26) .simg {
  background: url(../img/tbanner26.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(27) .simg {
  background: url(../img/tbanner27.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(28) .simg {
  background: url(../img/tbanner28.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(29) .simg {
  background: url(../img/tbanner29.jpg) no-repeat center center;
  background-size: cover;
}

.story .swiper-slide:nth-child(30) .simg {
  background: url(../img/tbanner30.jpg) no-repeat center center;
  background-size: cover;
}

.story .story-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.story .story-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* world*/
#world {
  padding: 100px 0;
  background: url(../img/world.png) no-repeat center top 220px;
  text-align: center;
}

#world h2 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  z-index: 10;
  position: relative;
}

#world .world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  padding: 100px 0;
  margin: 0 auto;
}

#world .world div {
  text-align: center;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

#world .world div .wWorld {
  margin: 20px;
}

#world .world div h3 {
  width: 190px;
  height: 190px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#world .world div h3 strong {
  font-size: 26px;
  color: #fff;
}

#world .world div p {
  border-top: 3px solid #ca0202;
  margin-top: 30px;
  padding-top: 30px;
  font-size: 22px;
  line-height: 37px;
  color: #fff;
}

#world .world-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 280px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#world .world-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* world animation*/
#world h2 {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.world div:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.8s 0.6s ease;
  transition: all 0.8s 0.6s ease;
}

.world div:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.8s 0.8s ease;
  transition: all 0.8s 0.8s ease;
}

.world div:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.8s 1.0s ease;
  transition: all 0.8s 1.0s ease;
}

#world .world-btn {
  display: inline-block;
}

#world.show h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world div:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world div:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world div:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#world.show .world-btn {
  -webkit-animation: bounceInLeft 0.6s 1.4s;
          animation: bounceInLeft 0.6s 1.4s;
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
            transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
            transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
            transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
            transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
            transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
            transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

/* brand */
#brand {
  background: #f6f6f6;
  padding-bottom: 100px;
  text-align: center;
}

#brand h2 {
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  z-index: 10;
  position: relative;
  background: #fff;
}

#brand .mbrand {
  text-align: left;
  height: 600px;
  background: url(../img/banner04.jpg) no-repeat center center;
}

#brand .mbrand h3 {
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  padding: 230px 0 280px 70px;
  text-transform: uppercase;
}

#brand .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

#brand .brand div h4 {
  font-size: 18px;
  font-weight: 700;
  border-top: 3px solid #ca0202;
  padding-top: 10px;
}

#brand .brand figure {
  margin-top: 30px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #fff;
}

#brand .brand figcaption {
  padding-top: 30px;
  font-size: 22px;
  color: #777777;
}

#brand .brand-btn {
  font-size: 18px;
  color: #ca0202;
  border-radius: 30px;
  border: 1px solid #ca0202;
  padding: 10px 80px;
  margin-top: 100px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#brand .brand-btn:hover {
  background: #ca0202;
  color: #fff;
}

/* footer */
/* footer1 */
#up-footer1 {
  background: #555555;
}

#up-footer1 .footer {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#up-footer1 .footer div {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 50px;
}

#up-footer1 .footer div img {
  margin: 0 auto;
  display: block;
  width: 90px;
  height: 90px;
}

#up-footer1 .footer div h4 {
  text-align: left;
  color: #999;
  font-size: 18px;
}

#up-footer1 .footer div p {
  color: #999;
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
}

#up-footer1 .footer div .strong {
  display: block;
  text-align: left;
  font-size: 46px;
  margin-bottom: 30px;
}

#up-footer1 .footer div strong {
  font-size: 18px;
  color: #fff;
}

#up-footer1 .footer div ul {
  font-size: 18px;
  color: #fff;
}

#up-footer1 .footer div span {
  position: relative;
}

#up-footer1 .footer div .up::before {
  bottom: 6px;
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent #ec870c transparent;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

#up-footer1 .footer div:last-child {
  border: 0;
}

/* //footer1 */
/* footer2 */
#down-footer2 {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}

#down-footer2 .cont-l {
  float: left;
}

#down-footer2 .cont-l .uu {
  padding: 30px;
}

#down-footer2 .cont-l .uu .green {
  font-weight: bold;
  font-size: 17px;
  color: #539a00;
}

#down-footer2 .cont-l .uu .red {
  font-weight: bold;
  font-size: 17px;
  color: #ff6216;
}

#down-footer2 .cont-l .uu li {
  font-size: 16px;
  display: inline-block;
}

#down-footer2 .cont-l .cu {
  padding: 30px;
}

#down-footer2 .cont-l .cu li {
  font-size: 16px;
  display: inline-block;
}

#down-footer2 .cont-l .du {
  padding: 30px;
  font-size: 14px;
  color: #666;
}

#down-footer2 .cont-r {
  padding-top: 50px;
  float: right;
}

#down-footer2 .cont-r a {
  position: relative;
  margin-top: 50px;
  width: 240px;
  height: 46px;
  padding: 13px 60px 13px 35px;
  border: 2px solid #e8e8e8;
  border-radius: 23px;
}

#down-footer2 .cont-r a::after {
  position: absolute;
  right: 25px;
  margin-top: -2px;
  border-width: 5px 5px 0 5px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

#down-footer2 .cont-r ul {
  display: block;
  margin-top: 50px;
}

#down-footer2 .cont-r ul li {
  width: 374px;
  display: inline;
}

#down-footer2 .cont-r ul li img {
  width: 46px;
  height: 46px;
}

#down-footer2 span {
  color: rgba(0, 0, 0, 0.3);
}

/* //footer2 */
/*# sourceMappingURL=style.css.map */