/* PrismJS 1.20.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
/* modal */
@font-face {
   font-family: 'S-CoreDream-2ExtraLight';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'S-CoreDream-4Regular';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}




#modal {
   transform: scale(0);
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   z-index: 5000000;
}





/* 모달 배경*/
#modal .modal-bg {
   background-color: rgba(0, 0, 0, 0.9);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   position: relative;
}

/* 모달 닫는 박스 */
#modal .click-box {
   width: 2.5vw;
   height: 2.5vw;
   position: absolute;
   left: 96.5vw;
   top: 1vw;
   display: inline-block;
}

#modal .click {
   position: relative;
   left: 0;
   top: 50%;
   width: 2.5vw;
   height: 0.2vw;
   background: #fff;
   transform: rotate(45deg);
}

#modal .click::before {
   position: absolute;
   left: 0;
   top: 0;
   content: '';
   width: 2.5vw;
   height: 0.2vw;
   background: #fff;
   transform: rotate(-90deg);
}



/* 코드 컨텐츠 */
#modal .modal-bg .modal-cont {
   position: relative;
   display: inline-block;
   width: 60vw;
   height: 40vw;
   display: flex;
   border-radius: 10px;
   overflow: hidden;
}

/* 코드영역 */
#modal .modal-bg .modal-cont .code-con {
   width: 60vw;
   height: 40vw;
   border-radius: 5px;

}
#modal .modal-bg .modal-cont .code-con .pre{
   height: 37.5vw;
   overflow-y: auto;
}
/* 메뉴 전체 박스 */
.tab-menu {
   display: flex;
   height: 2.5vw;
   position: relative;
}

/* 컬러 */
.tab-menu .menu-color {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 6vw;
   padding: 0 1vw;
}

.tab-menu .menu-color span {
   width: 0.8vw;
   height: 0.8vw;
   border-radius: 50%;
}

.tab-menu .menu-color span:nth-child(1) {
   background: #FF4A4A;
}

.tab-menu .menu-color span:nth-child(2) {
   background: #FFB83D;
}

.tab-menu .menu-color span:nth-child(3) {
   background: #00C543;
}

/* 메뉴 */
.tab-menu a {
   font-size: 1vw;
   padding: 0 2.7vw;
   line-height: 2.7vw;
   font-weight: 400;

}

.tab-menu a:nth-child(3) {
   border: none;
}

.code-con .tab-menu>a.active {
   background: #062743;
   color: #CFDBE4;
}

/* 테마 */
.tab-menu .theme {
   position: absolute;
   right: 0;
   top: 0;
   padding: 0 2vw;
   font-size: 1vw;
   line-height: 2.5vw;
   font-weight: 400;
   z-index: 5;
}

.tab-menu .theme.on {
   color: #CFDBE4;
}

.tab-menu .theme:hover {
   color: #CFDBE4;
}

.tab-menu .theme .fas {
   line-height: 1;
   margin-left: 1vw;
}

.tab-menu .modal-color {
   display: none;
   position: absolute;
   right: 1vw;
   top: 2vw;
   z-index: 1000;

   border-radius: 10px;
   overflow: hidden;
   padding: 1vw 0.2vw;
   width: 16vw;
}

.tab-menu .modal-color a {
   display: block;
   border: none;
   padding: 0 3vw;
   line-height: 3vw;
   font-size: 1.5vw;
   font-weight: 200;
   text-align: left;
   text-transform: none;
}

.tab-menu .modal-color a:hover {
   position: relative;
   z-index: 10;
   margin: -3px;
}

.tab-menu .modal-color a.on {
   position: relative;
}

.tab-menu .modal-color a.on::before {
   position: absolute;
   left: 0.5vw;
   top: 1.3vw;
   content: '';
   width: 1.5vw;
   height: 0.2vw;
   display: inline-block;
}


/* modal-text */
.modal-text {
   margin-left: 2vw;
   width: 20vw; height: 40vw;
   padding: 2vw;
   border-radius: 5px;
   text-align: left;
   position: relative;
}

.modal-text h3 {
   font-size: 2vw;
   font-family: 'S-CoreDream-6Bold','Poppins', sans-serif;
   font-weight: 600;
   margin-bottom: 1vw;
}

.modal-text p {
   
   font-size: 1vw;
   word-break: break-all;
   font-family: 'S-CoreDream-2ExtraLight';
   font-weight: 200;
   line-height: 1.8vw;
   text-align: justify;
}
/* 사이트 가기 */
.view{
   position: absolute;
   left: 0;
   bottom: 2vw;
   width: 20vw;
   display: flex;
   justify-content: space-around;
}
.view a{
   text-align: center;
   height: 2.5vw;
   line-height: 2.5vw;
   width: 8vw;
   font-size: 0.8vw;
   font-family: 'S-CoreDream-4Regular';
}









#modal.one {
   transform: scaley(0.005) scalex(0);
   animation: unfoldIn 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out {
   transform: scale(1);
   animation: unfoldOut 0.5s 0.3s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

@keyframes unfoldIn {
   0% {
      transform: scaley(0.005) scalex(0);
   }

   50% {
      transform: scaley(0.005) scalex(1);
   }

   100% {
      transform: scaley(1) scalex(1);
   }
}

@keyframes unfoldOut {
   0% {
      transform: scaley(1) scalex(1)
   }

   50% {
      transform: scaley(0.005) scalex(1);
   }

   100% {
      transform: scaley(0.005) scalex(0);
   }
}

#modal.one .modal-bg .modal-cont {
   transform: scale(0);
   animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out .modal-bg .modal-cont {
   transform: scale(0);
   animation: zoomOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one .modal-bg .modal-text {
   transform: scale(0);
   animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out .modal-bg .modal-text {
   transform: scale(0);
   animation: zoomOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

@keyframes zoomIn {
   0% {
      transform: scale(0);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes zoomOut {
   0% {
      transform: scale(1);
   }

   100% {
      transform: scale(0);
   }
}



/* 테마 클릭시 색 변경 */
/* owl */
.code-con.owl .tab-menu {
   background: #01111D;
   border-bottom: 0.1vw solid rgba(255, 255, 255, 0.08);
}

/* 메뉴 전체 박스 */
.code-con.owl .tab-menu>a {
   color: #5F7E97;
}

.code-con.owl .tab-menu>a:hover {
   background: #062743;
   color: #CFDBE4;
}

.code-con.owl .tab-menu>a.active {
   background: #062743;
   color: #CFDBE4;
}

/* 테마 */
.code-con.owl .tab-menu .theme {
   color: #5F7E97;
}

.code-con.owl .tab-menu .theme.on {
   color: #CFDBE4;
   background: #072339;
}

.code-con.owl .tab-menu .theme:hover {
   background: #072339;
   color: #CFDBE4;
}

.code-con.owl .tab-menu .modal-color {
   background-color: #092E4B;
   border: 0.1vw solid rgba(255, 255, 255, 0.08);
}

.code-con.owl .tab-menu .modal-color>a {
   color: #CFDBE4;
   background: #092E4B;
}

.code-con.owl .tab-menu .modal-color>a:hover {
   border: 3px solid #008FFF;
   background: rgba(255, 255, 255, 0.04);
}

.code-con.owl .tab-menu .modal-color>a.on {
   color: #CFDBE4;
}

.code-con.owl .tab-menu .modal-color a.on::before {
   background: #CFDBE4;
}

/* 코드전체 */
.code-con.owl pre[class*="language-"] {
   background: #011627;
}
.code-con.owl .pre{
   background: #011627;
}
/* modal-text  */
.modal-text.owl {
   background: #011627;
}
.modal-text.owl h3{
   color: #CFDBE4;
}
.modal-text.owl p{
   color: #CFDBE4;
}
.modal-text.owl .view a{
   background: #fff;
   color: #000;
}


/* monokai */
.code-con.monokai .tab-menu {
   background: #21252B;
   border-bottom: 0.1vw solid #282C34;
}

/* 메뉴 전체 박스 */
.code-con.monokai .tab-menu>a {
   color: #8E9093;
}

.code-con.monokai .tab-menu>a:hover {
   background: #383E4A;
   color: #fff;
}

.code-con.monokai .tab-menu>a.active {
   background: #383E4A;
   color: #fff;
}

/* 테마 */
.code-con.monokai .tab-menu .theme {
   color: #8E9093;
}

.code-con.monokai .tab-menu .theme.on {
   color: #fff;
   background: #383E4A;

}

.code-con.monokai .tab-menu .theme:hover {
   background: #383E4A;
   color: #fff;
}

.code-con.monokai .tab-menu .modal-color {
   background-color: #485061;
   border: 0.1vw solid rgba(255, 255, 255, 0.08);
}

.code-con.monokai .tab-menu .modal-color>a {
   color: #CFDBE4;
}

.code-con.monokai .tab-menu .modal-color>a:hover {
   border: 3px solid #00B8F2;
   background: rgba(255, 255, 255, 0.03);
}

.code-con.monokai .tab-menu .modal-color>a.on {
   color: #CFDBE4;

}

.code-con.monokai .tab-menu .modal-color a.on::before {
   background: #CFDBE4;
}

/* 코드 전체 */
.code-con.monokai pre[class*="language-"] {
   background: #282C34;
}
.code-con.monokai .pre{
   background: #282C34;
}

/* modal-text  */
.modal-text.monokai {
   background: #282C34;
}
.modal-text.monokai h3{
   color: #CFDBE4;
}
.modal-text.monokai p{
   color: #CFDBE4;
}
.modal-text.monokai .view a{
   background: #fff;
   color: #000;
}






/* owlLight */
.code-con.owlLight .tab-menu {
   background: #F0F0F0;
   border-bottom: 0.1vw solid rgba(240, 240, 240, 0.01);
}

/* 메뉴 전체 박스 */
.code-con.owlLight .tab-menu>a {
   color: #403F53;
}

.code-con.owlLight .tab-menu>a:hover {
   background: #F8F8F8;
   color: #403F53;
}

.code-con.owlLight .tab-menu>a.active {
   background: #F8F8F8;
   color: #403F53;
}

/* 테마 */
.code-con.owlLight .tab-menu .theme {
   color: #2B3033;
}

.code-con.owlLight .tab-menu .theme.on {
   color: #403F53;
   background: #F6F6F6;
}

.code-con.owlLight .tab-menu .theme:hover {
   background: #F6F6F6;
   color: #403F53;
}

.code-con.owlLight .tab-menu .modal-color {
   background-color: #FFFFFF;
   border: 0.1vw solid #E1E1E1;
}

.code-con.owlLight .tab-menu .modal-color>a {
   color: #2B3033;
   background: #fff;
}

.code-con.owlLight .tab-menu .modal-color>a:hover {
   border: 3px solid #4876D6;
   background: rgba(255, 255, 255, 0.03);
}

.code-con.owlLight .tab-menu .modal-color>a.on {
   color: #2B3033;
}

.code-con.owlLight .tab-menu .modal-color a.on::before {
   background: #2B3033;
}

/* 코드전체 */
.code-con.owlLight pre[class*="language-"] {
   background: #FBFBFB;
}
.code-con.owlLight .pre{
   background: #FBFBFB;
}
/* modal-text  */
.modal-text.owlLight {
   background: #FBFBFB;
}
.modal-text.owlLight h3{
   color: #2B3033;
}
.modal-text.owlLight p{
   color: #2B3033;
}
.modal-text.owlLight .view a{
   background: #000;
   color: #fff;
}




code[class*="language-"],
pre[class*="language-"] {
   color: #ccc;
   background: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-transform: none;
   font-size: 0.7vw;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
   padding-top: 1vw;

}


/* Inline code */
:not(pre)>code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;

}



pre[class*="language-"].line-numbers {
   position: relative;
   padding-left: 3.8em;
   counter-reset: linenumber;
}

pre[class*="language-"].line-numbers>code {
   position: relative;
   white-space: inherit;
}

.line-numbers .line-numbers-rows {
   position: absolute;
   pointer-events: none;
   top: 0;
   font-size: 100%;
   left: -3.8em;
   width: 3em;
   /* works for line-numbers below 1000 lines */
   letter-spacing: -1px;
   border-right: 1px solid #999;

   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

}

.line-numbers-rows>span {
   display: block;
   counter-increment: linenumber;
}

.line-numbers-rows>span:before {
   content: counter(linenumber);
   color: #999;
   display: block;
   padding-right: 0.8em;
   text-align: right;
}

/* Owl */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
   color: #8292a2;
}

.token.punctuation {
   color: #ecad1b;
}

.token.namespace {
   opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
   color: #f92672;
}

.token.boolean,
.token.number {
   color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
   color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
   color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
   color: #e6db74;
}

.token.keyword {
   color: #66d9ef;
}

.token.regex,
.token.important {
   color: #fd971f;
}

.token.important,
.token.bold {
   font-weight: bold;
}

.token.italic {
   font-style: italic;
}

.token.entity {
   cursor: help;
}

/* monokai */
.monokai .token.comment,
.monokai .token.prolog,
.monokai .token.doctype,
.monokai .token.cdata {
   color: hsl(0, 0%, 47%);
   /* #777777 */
}

.monokai .token.punctuation {
   opacity: .7;
}

.monokai .token.namespace {
   opacity: .7;
}

.monokai .token.tag,
.monokai .token.boolean,
.monokai .token.number,
.monokai .token.deleted {
   color: hsl(14, 58%, 55%);
   /* #CF6A4C */
}

.monokai .token.keyword,
.monokai .token.property,
.monokai .token.selector,
.monokai .token.constant,
.monokai .token.symbol,
.monokai .token.builtin {
   color: hsl(53, 89%, 79%);
   /* #F9EE98 */
}

.monokai .token.attr-name,
.monokai .token.attr-value,
.monokai .token.string,
.monokai .token.char,
.monokai .token.operator,
.monokai .token.entity,
.monokai .token.url,
.monokai .language-css .token.string,
.monokai .style .token.string,
.monokai .token.variable,
.monokai .token.inserted {
   color: hsl(76, 21%, 52%);
   /* #8F9D6A */
}

.monokai .token.atrule {
   color: hsl(218, 22%, 55%);
   /* #7587A6 */
}

.monokai .token.regex,
.monokai .token.important {
   color: hsl(42, 75%, 65%);
   /* #E9C062 */
}

/* Owl Light */
.owlLight code[class*="language-"],
.owlLight pre[class*="language-"] {
   color: #ff8303;
}

.owlLight .token.comment,
.owlLight .token.prolog,
.owlLight .token.doctype,
.owlLight .token.cdata {
   color: slategray;
}

.owlLight .token.punctuation {
   color: #999;
}

.owlLight .token.namespace {
   opacity: .7;
}

.owlLight .token.property,
.owlLight .token.tag,
.owlLight .token.boolean,
.owlLight .token.number,
.owlLight .token.constant,
.owlLight .token.symbol,
.owlLight .token.deleted {
   color: #905;
}

.owlLight .token.selector,
.owlLight .token.attr-name,
.owlLight .token.string,
.owlLight .token.char,
.owlLight .token.builtin,
.owlLight .token.inserted {
   color: #690;
}

.owlLight .token.operator,
.owlLight .token.entity,
.owlLight .token.url,
.owlLight .language-css .token.string,
.owlLight .style .token.string {
   color: #9a6e3a;
}

.owlLight .token.atrule,
.owlLight .token.attr-value,
.owlLight .token.keyword {
   color: #07a;
}

.owlLight .token.function,
.owlLight .token.class-name {
   color: #DD4A68;
}

.owlLight .token.regex,
.owlLight .token.important,
.owlLight .token.variable {
   color: #e90;
}


@media (max-width: 800px){
   #modal .modal-bg {
      width: 100vw;
      display: inline-block;
   }
   #modal .click-box{width: 5vw;height: 5vw; left: 90vw; top: 2vw;}
   #modal .click{width: 5vw;height: 0.5vw; }
   #modal .click::before{width: 5vw;height: 0.5vw;}
   #modal .modal-bg .modal-cont{
      top: 20%;
      width: 95vw;
      height: 60vw;
      margin: 0 auto;
   }
   #modal .modal-bg .modal-cont .code-con {
      width: 95vw;
      height: 60vw;

   }
   #modal .modal-bg .modal-cont .code-con .pre{
      height: 57.5vw;
   }
   .tab-menu{height: 5vw;}
   .tab-menu a {font-size: 2.5vw; line-height: 5vw;}
   .modal-text{width: 95vw;margin-left: 0; top: 20%;      margin: 2.5vw auto 0;

   }
   .modal-text h3{font-size: 3vw; line-height: 3vw;}
   .modal-text p{font-size: 2vw; line-height: 3vw;}
   .view {width: 100%;}
   .view a {width: 30vw; height: 5vw; font-size: 1.5vw;line-height: 5vw;}
   .tab-menu .theme{font-size: 2.5vw; line-height: 5vw;}
   .tab-menu .modal-color{width: 25vw;top: 4vw; }
   .tab-menu .modal-color a{font-size: 2.5vw; line-height: 5vw;}
   .code-con .tab-menu .modal-color a.on::before{display:none;}

   .tab-menu .theme .fas{
      line-height: 5vw;

   }
   code[class*="language-"],
   pre[class*="language-"]{
      font-size: 2vw;
   }
}
