@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 레이아웃 */
body {
    background: #000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow-x: hidden;
}
.hidden {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}


#section1 {
    width: 90vw;
    height: 100%;
    background: #B1B1B0;
    margin: 5vw auto;
    max-width: 800px;
    overflow: hidden;
}
#section2 {
    position: relative; z-index: 1;
}
.sec1 {}

.sec1 .mt {
    margin: 3vw 0;
    display: inline-block;
    font-size:1.5vw;
    font-weight: 200;
    line-height: 1.5vw;
    overflow: hidden;    
    padding-top: 1vw;
}
.sec1 .mt span {
    position: relative;
    top: 100px;
}


.sec1 .h1txt p{
    font-size: 10vw;
    font-weight: 800;
    line-height: 10vw;
    overflow: hidden;
    padding-top : 1.8vw;
}
.sec1 .h1txt span {
    position: relative;
    top: 200px;
}



.img {
    width: 60%;
    margin: 0 auto 1vw;
    border: 2vw solid #4E4E4F;
    background: #4E4E4F;
    color: #D0D0D0;
    position: relative;
    top: 0; 
}
.img div > p{
    font-family: 'S-CoreDream-2ExtraLight';
    display: inline-block;
    text-align: justify;
    font-size: 1.9vw;
    margin: 2vw;
    opacity: 0;
}
.info1 .info-img{
    width: 20%;
    margin: 0 auto;
}
.info1 .info-text{
    font-size: 1.5vw;
}

/* info 링크 */
.sec1 .img .info1 .info-link {
    display: flex;
    justify-content: space-between;
    padding-top: 1vw;
    margin-top: 1vw;
    text-transform: none;
    border-top: 1px solid #fff;
}

.sec1 .img .info1 .info-link li a {
    color: #fff;
    position: relative;
    padding: 0.5vw;
    transition: all 0.3s;
    font-size: 2vw;
}

.sec1 .img .info1 .info-link li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2vw;
    background: #fff;
}
.sec1 .img .info1 .info-link li a .arr {
    fill: #fff;
    width: 1.5vw;
}




/* section2 */
.sec2 {
    max-width: 800px;margin: 0 auto;
    font-size: 11vw;
    line-height: .9;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
    margin-top: 3vw;
    position: relative;
}

.sec2 p {
    color: rgb(45, 45, 45);
}


.sec2 .site {
    display: inline-block;
    width: 31vw;
    background: #fff;
    padding: 3vw;
    text-align: left;
    color: #000;
    position: relative;
    z-index: 50000;
    
}



.sec2 .site h2 {
    font-size: 2.6vw;
    font-family: 'S-CoreDream-6Bold';
}

.sec2 .site p {
    font-size: 1.2vw;
    font-family: 'S-CoreDream-2ExtraLight';
    padding: 1.5vw 0 3vw;
    line-height: 1.3;
    color: #000;
}

.sec2 .site .site-img {
    width: 25vw;
    height: 17vw;
    overflow: hidden;
    position: relative;
}


/* 버튼 */
.sec2 .site .site-img .button {
    width: 100%;
    height: 100%;
    background: rgba(39, 37, 37, 0.8);
    opacity: 1;
    transition: all 1s;
}


.sec2 .site .site-img .button .text a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 1vw;
    border-radius: 50%;
    background: #5a99d4;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 0 0 rgb(90, 153, 212, 0.5);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(.9);
    }

    70% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 2vw rgb(90, 153, 212, 0.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(.9);
        box-shadow: 0 0 0 0 rgb(90, 153, 212, 0.4);
    }
}

/* 웹 표준 사이트 */
.sec2 .s1 {
    position: absolute;
    left: -100%;
    top:15%;
    transform: translate(0, 0);
}

.sec2 .s1 .site-img {
    background-image: url(../img/PSD-1.jpg);
    background-size: cover;
}



/* 반응형 사이트 */
.sec2 .s2 {
    position: absolute;
    left: -100%;
    top: 30%;
}
.sec2 .s2 .site-img {
    background: url(../img/responsive.jpg) center center;
    background-size: cover;
}



/* 모바일 사이트 */
.sec2 .s3 {
    position: absolute;
    left: -100%;
    top: 45%;
}
.sec2 .s3 .site-img {
    background-image: url(../img/3948944.jpg);
    background-size: cover;
}



/* 네이버 사이트 */
.sec2 .s4 {
    position: absolute;
    left: -100%;
    top: 60%;
}
.sec2 .s4 .site-img {
    background-image: url(../img/navr.jpg);
    background-size: cover;
}


/* 농심 사이트 */
.sec2 .s5 {
    position: absolute;
    left: -100%;
    top: 75%;
}
.sec2 .s5 .site-img {
    background-image: url(../img/nongshim.jpg);
    background-size: cover;
}

