@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* layout */
body {background: #000;overflow-x: hidden; position: relative; z-index: -10;}  
#contents {height: 100vh; }
#section2 {position: fixed;z-index: -1; top: -0px;}
#section3 {position: fixed; z-index: -10; z-index: -100; transform: translateY(0%); }
#section4 {position: fixed; z-index: -1000; opacity: 0;}

/* scroll */
.pageYOffset {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(39, 37, 37, 0.4);
    padding: 1vw;
    z-index: 100;
    color: #fff;
}

/* section1 */
.sec1 {
    position: fixed;
    left: 0;
    top: 0;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    padding: 3vw;margin: 3vw;
    background: #B1B1B0;  
}

.sec1 span {
    font-size: 2vw;
    display: block;
    padding-top: 3vw;
    font-weight: 400;
}


.sec1 h1{
    font-size: 11vw;
    line-height: 1;
    letter-spacing: -0.5vw;
    font-weight: 800;
    padding: 6vw 0;
    color: #2D2D2D;
}

.sec1 .img{
    border: 3.5vw solid #4E4E4F;
    margin:0vw 20vw -20vw 20vw;
    color: #D0D0D0;
    font-size: 2vw;
    position: relative;
    z-index: 1000;
    transform: translate(0%,-5%);
}

.sec1 .img p{
    font-family: 'S-CoreDream-2ExtraLight';
    background: #4E4E4F;
    padding: 3vw;
    padding-bottom: 0vw;
    font-size: 1.5vw;
    text-align: justify;
    letter-spacing: -2px;
    line-height: 1.5;
    margin: -1px;
}

.sec1 .img .info1{
    background: #4E4E4F;
    margin: -1px;

}

.sec1 .img .info1 .info-img{
    width: 10vw;
    margin: 0 auto;
    padding-top: 4vw ;
    

}
.sec1 .img .info1 .info-text{
    padding-bottom: 2vw;
    border-bottom: solid 1px #fff;
    
}
.sec1 .img .info1 .info-link{
    display: flex;
    justify-content: space-between;
    padding-top: 1vw;
    text-transform:none;
}
.sec1 .img .info1 .info-link li a{
    color: #fff;
}
.sec1 .img .info1 .info-link li a img{
    width: 2vw;margin-top: 0.7vw;
}


.sec1 .work{
    display: flex;
    justify-content: space-between;
    text-transform:none;
    font-size: 2vw;
    font-weight: 400;
}
.sec1 .work img{
    width: 0.7vw; margin-top: 0.7vw;
}
.info2{
    position: absolute; right: 0; bottom: -20%;
    transform: translate(20%,0%) rotate(25deg);
    transform-origin: right;
    font-family: 'S-CoreDream-4Regular';
    width: 60vw;
    padding: 2vw 10vw 2vw 2vw;
    background: #EFE74B;
    z-index: 10000;
    opacity: 0;
}
.info2 p {
    display: inline-block;
    font-size: 1.7vw;
    color: #000;
}
.info2  span a{
    display: inline-block;
    font-size: 1.5vw;
    margin-top: 2vw;
    padding: 0.5vw 2vw 0.5vw 2vw;
    background: #000;
    color: #fff;
}
.info3 {
    position: absolute;left: 20%; bottom: -10%;
    transform: translate(-50%,-50%);
    opacity: 1;
}
.info3 .info-box{
    position: relative;
    transform: rotate(-30deg);
}
.info3 .info-box img{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
width: 30vw;
}
.info3 .info-box span a{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    font-family: 'S-CoreDream-4Regular';
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
}






/* section2 */
.sec2{
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 11vw;
    line-height: .9;
    font-weight: 700;
    font-family: "Montserrat";
    z-index: -1;
    margin-top: 3vw;
    opacity: 0;
}



.sec2 .site a{
    display: inline-block;
    width: 33vw;
    background: #fff;
    padding: 3vw;
    text-align: left ;
    color: #000;
}

.sec2 .site a:hover{
    background: #000000;
    color: #fff;
    opacity: 0.8;
}
.sec2 .site a:hover h2{
    color: #fff;
}


.sec2 .site a h2 {
    font-size: 3.1vw;
    font-family: 'S-CoreDream-6Bold';
}
.sec2 .site a p {
    font-size: 1.2vw;
    font-family: 'S-CoreDream-2ExtraLight';
    padding: 1.5vw 0 3vw;
    line-height: 1.3;
}

.sec2 .s1{
    position: absolute;left: 12vw; top: 60vw;
    transform: translate(0,0); 
    opacity: 0;

}


.sec2 .s2{
    position: absolute;right: 10vw; top: 93vw;
    transform: translate(0,0);
    opacity: 0;

}

.sec2 .s3{
    position: absolute;left: 15vw; top: 150vw;
    transform: translate(0,0);   
    opacity: 0;

}

.sec2 .s4{
    position: absolute;right: 15vw; top: 210vw;
    transform: translate(0,0);
    opacity: 0;

}

.sec2 .s5{
    position: absolute;left: 30vw; top: 210vw;
    transform: translate(0,0);
    opacity: 0;

}









/* section3 */
.sec3{
    font-family: "Montserrat";
    position: relative;
    z-index: 10000;
    background: url(../img/zcab.png);
    background-size: cover;
    width: 100vw; height: 100vh;
}
.sec3 h2{
    position: absolute;left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}    


/* col1 */
.sec3 .col1{
    position: relative;left: 110%;
    width: 100%; height: 100vh;  
    transform-style:preserve-3d ;
}
.sec3 .col1 .col1-box{ 
    position: absolute; left: 50%; top: 50%; }
.sec3 .col1 .col1-box.st1{transform: translate3d(25%,-45%,10vw); width: 100vw;  opacity: 0.8;}
.sec3 .col1 .col1-box.st2{transform: translate3d(-35%,-80%,8vw); width: 90vw;  opacity: 0.5; }
.sec3 .col1 .col1-box.st3{transform: translate3d(-50%,-47%,-1vw); width: 80vw; }
.sec3 .col1 .col1-box.st4{transform: translate3d(-80%,-45%,-5vw); width: 45vw;z-index: -10;}
.sec3 .col1 .col1-box.st5{transform: translate(-50%,-50%); width: 30vw;}
.sec3 .col1 .col1-box.st6{
    transform: translate(-120%,-50%); 
    font-size: 4vw;
    line-height: 4vw;
    color: #1B8567;
}
.sec3 .col1 .col1-box.st6 p{
    font-weight: 800;
}
.sec3 .col1 .col1-box.st7{
    transform: translate(-50%,-50%);
    z-index: -1; opacity: 0.7;
}




/* col2 */
.sec3 .col2{
    position: relative;left: 110%; top: -100%;
    width: 100%; height: 100vh; 
    transform-style:preserve-3d ; 
}
.sec3 .col2 .col2-box{ 
    position: absolute; left: 50%; top: 50%; }
.sec3 .col2 .col2-box.st1{transform: translate3d(-60%,-50%,5vw);width: 70vw; }
.sec3 .col2 .col2-box.st2{transform: translate3d(-50%,-50%,10vw); width: 90vw;  }
.sec3 .col2 .col2-box.st3{transform: translate3d(-50%,-49%,-10vw); width: 80vw;z-index: -10;}
.sec3 .col2 .col2-box.st4{transform: translate3d(-55%,-70%,-100vw) rotate(-40deg); width: 100vw;opacity: 0.7; z-index: -10;}
.sec3 .col2 .col2-box.st5{transform: translate(-50%,-50%); width: 30vw;}
.sec3 .col2 .col2-box.st6{
    transform: translate(-120%,-50%); 
    font-size: 4vw;
    line-height: 4vw;
    color: #C85452;
}
.sec3 .col2 .col2-box.st6 p{
    font-weight: 800;
}
.sec3 .col2 .col2-box.st7{
    transform: translate(-50%,-50%);
    z-index: -1;
}





/* col3 */
.sec3 .col3{
    position: relative;left: 110%; top: -200%;
    width: 100%; height: 100vh;
    transform-style:preserve-3d ;  
}
.sec3 .col3 .col3-box{ 
    position: absolute; left: 50%; top: 50%; }
.sec3 .col3 .col3-box.st1{transform: translate3d(-50%,-50%,-3vw);width: 80vw; z-index: -100; }
.sec3 .col3 .col3-box.st2{transform: translate3d(-50%,-50%,1vw); width: 80vw; z-index: 100; }
.sec3 .col3 .col3-box.st3{transform: translate3d(-150%,-100%,10vw); width: 30vw;z-index: -1;}
.sec3 .col3 .col3-box.st4{transform: translate3d(-40%,-80%,10vw) ; width: 70vw; z-index: 10;}
.sec3 .col3 .col3-box.st5{transform: translate3d(-50%,-50%,0); width: 30vw;}
.sec3 .col3 .col3-box.st6{
    transform: translate(-120%,-50%); 
    font-size: 4vw;
    line-height: 4vw;
    color: #519B87;
}
.sec3 .col3 .col3-box.st6 p{
    font-weight: 800;
}
.sec3 .col3 .col3-box.st7{
    transform: translate(-50%,-50%);
    z-index: -1;
}



/* col4 */
.sec3 .col4{
    position: relative;left: 0%; top: -300%;
    width: 100%; height: 100vh; 
    transform-style:preserve-3d ; 
}
.sec3 .col4 .col4-box{ 
    position: absolute; left: 50%; top: 50%; }
.sec3 .col4 .col4-box.st1{transform: translate3d(-40%,-40%,5vw);width: 100vw; z-index: 10; }
.sec3 .col4 .col4-box.st2{transform: translate3d(-50%,-50%,-2vw); width: 100vw; z-index: -2; }
.sec3 .col4 .col4-box.st2-1{transform: translate3d(-50%,-50%,-3vw); width: 50vw; z-index: -1000; }
.sec3 .col4 .col4-box.st3{transform: translate3d(60%,40%,10vw); width: 30vw; z-index: 100;}
.sec3 .col4 .col4-box.st4{transform: translate3d(-150%,-10%,10vw) ; width: 30vw; z-index: 100;}
.sec3 .col4 .col4-box.st5{transform: translate(-50%,-50%); width: 30vw;}
.sec3 .col4 .col4-box.st6{
    transform: translate(-120%,-50%); 
    font-size: 4vw;
    line-height: 4vw;
    color: #FFE600;
}
.sec3 .col4 .col4-box.st6 p{
    font-weight: 800;
}
.sec3 .col4 .col4-box.st7{
    transform: translate(-50%,-50%);
    z-index: -1;
}


/* section4 */
#section4 .sec4{
    width: 100vw;height: 100vh;
    position: relative;

}
#section4 .sec4 h2 a{
    position: absolute;left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    font-size: 10vw;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    opacity: 0;
    z-index: 0;
}
#section4 .sec4 h2.lh{
    line-height: 9vw;
}
#section4 .sec4 h2.lh p:last-child{
    padding-left: 20vw;
    font-size: 10vw;
    font-weight: 100;
}
#section4 .sec4 .box{
    width: 50vw;
    border: 1vw #fff solid; 
}
#section4 .sec4 .box.b1{
    position: absolute; left: 100%; top: 50%;
    transform: translate(0%,-50%);z-index: 100000000;
}


#section4 .sec4 .box.b2{
    position: absolute; left: 100%; top: 50%;
    transform: translate(0%,-50%);z-index: 100000000;
}
#section4 .sec4 .box.b3{
    position: absolute; left: 100%; top: 50%;
    transform: translate(0%,-50%);z-index: 100000000;
}
#section4 .sec4 .box.b4{
    position: absolute; left: 100%; top: 50%;
    transform: translate(0%,-50%);z-index: 100000000;
    
}
#section4 .sec4 .box.bx{
    position: absolute; left: 0; top: 100%;
    display: none;}



