@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }


/* 레이아웃 */
body {
    overflow-x: hidden;
    font-family: 'S-CoreDream-2ExtraLight';
    background: #000;
}


.pageYOffset{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(39, 37, 37, 0.4);
    padding: 1vw;
    z-index: 100;
    color: #fff;
}

/* section1 */
#section1{
    transform: translate(0%, 0%)
 
}
.sec1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    padding: 2vw;
    background: #B1B1B0; margin: 3vw; font-family: "Montserrat";

}
.sec1 .op {
    font-size: 2vw;
    display: block;
    padding: 3vw 0;
    animation:  op 3s 0.5s infinite alternate;
}

@keyframes op{
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}


.sec1 h1 {
    font-size: 10vw;
    line-height: .8;
    font-weight: 800;
    padding: 1vw 0; 
    
}
.sec1 h1 p{
}
.sec1 .img {
    margin: 0 auto;
    width: 50vw;
    color: #B1B1B0;
    position: relative;
    z-index: 100;
    transform: translate(0%,0%);
}
.sec1 .img img{
    border: 3vw solid #2D2D2D;

}

.t{
    margin-top: -1vw;
    margin-bottom: -1vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    font-family: 'S-CoreDream-2ExtraLight';
    background: #2D2D2D;
    
}
.sec1 .img p {
    padding: 3vw 7vw;
    font-size: 1.5vw;
    text-align: justify;

}

.info{
    
    background: #2D2D2D;    
    padding: 7vw 0 3vw ;

}
.info-img{
    background-image: url(../img/icon1.png);
    background-size: cover;
    margin: 0 auto;
    width: 10vw;height: 10vw;
    transform: translate(0%, -30%);
}

.info-text{
    text-align: center;

}
.info-text span{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 2vw;
}
.info2{
    margin-top: -1vw;
    background: #2D2D2D;
    padding: 4vw 3vw;
}
.info2-box{
    border-top: #fff solid 1px ;
    padding-top: 1vw;
}
.info2 ul {
    display: flex;
    justify-content:space-between ;
}
.info2 ul li a{
    display: inline-block;
    margin: 1vw 0;
    font-size: 2vw;
    color: #ffffff;
    font-weight: 200;
    text-transform: none;
}
.transform{

}
.transform .ll{
    background: #EFE74B;
    padding-top: 1vw;
    transform-origin: right;
    transform:translate(30%,-200%) rotate(90deg);
    z-index: 1000; position: relative;


}
.transform .ll ul{
    display: flex; 
    align-items: center;
    
}
.transform .ll ul li{
    font-family: 'S-CoreDream-6Bold';
    font-size: 4vw;
    text-transform: uppercase;
    margin-left: 2.5vw;
}


.work{
    text-transform: none;


}
.work-l{
    font-family: "Montserrat";
    position: absolute;
    bottom: 1vw; left: 8vw;
    font-size: 2vw;
    font-weight: 400;
}
.work-r{
    font-family: "Montserrat";
    position: absolute;
    bottom:1vw; right: 8vw;
    font-size: 2vw;
    font-weight: 400;
    
}



/* section2 */

#section2{
    position: relative;
}
.sec2 p{
z-index: -1; position: relative;
font-family: "Montserrat";
font-weight: 800;
line-height: 10vw;
text-align: center;
font-size: 10vw;
color: #4E4E4F;
opacity: 0.5;
}


.site{
    background: #fff;
    border: 1vw solid #fff;
    width: 35vw;
    font-family: 'S-CoreDream-6Bold';
}
.site h2{
    font-weight: bolder;
    font-size: 3vw;
    margin-top: 2vw;
    margin-left: 2vw;
}
.site span{
    width: 29vw;
    font-size: 1.5vw; margin: 0.5vw 0 0 2vw;
    display: inline-block;font-family: 'S-CoreDream-2ExtraLight';
    font-weight: 200;
}
.site strong{
    display: inline-block;
    margin:2vw;
    width: 29vw;
    height: 20vw;
    overflow: hidden;
}
.site1{
    position: absolute;
    left: 12vw; top: 10vw;
    transform: translate(0%, 0%)
}
.site2{
    position: absolute;
    right: 8vw;
    top: 70vw;
    transform: translate(0%, 0%)
}
.site3{
    position: absolute;
    left: 8vw; top: 120vw;
    transform: translate(0%, 0%)
}
.site4{
    position: absolute;
    right: 18vw; top: 200vw;
    transform: translate(0%, 0%)
}

#section3{

    
}
#section3 h2{
    font-family: "Montserrat";
    font-weight: 800;
    line-height: 10vw;
    text-align: center;
    font-size: 10vw;
    color: #4E4E4F;
    opacity: 0.5;
}

