@font-face { 
    font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; 
}
@font-face { 
    font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; 
}

/* layout */
body {background: #000; height: 10000px;}
#contents {}
#section1 {}
#section2 {}
#section3 {}
#section4 {}
#section5 {}

/* scroll */
.scroll {
    position: fixed; left: 20px; top: 20px; 
    color: #fff;
}

/* splice */
.splice span {display: inline-block; min-width: 1.2vw; }

/* sec1 */
.sec1 {
    position: fixed;  z-index: 1000;
    left: 0; top: 100%; 
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    padding: 3vw;
    background: #B1B1B0; margin: 3vw; 
    font-family: 'Poppins', sans-serif;
}
.sec1 .mt {
    line-height: 1.8vw; 
    font-size: 2.2vw;
    margin-top: 3vw;
    padding-top: 1vw;
    display: inline-block;
    overflow: hidden;
}
.sec1 .mt span {
    position: relative;
    top: 100px;
}
.sec1 h1 {
    font-size: 10vw;
    line-height: .8;
    font-weight: 800;
    padding: 7vw 0; 
}
.sec1 h1 strong {
    display: block;
    line-height: 7.5vw;
    font-weight: 800;
    display: inline-block;
    min-width: 2.5vw;
    margin-bottom: 1vw;
    font-size: 10vw;
    padding-top: 1vw;
    overflow: hidden;
}
.sec1 .h1txt span {
    position: relative;
    top: 200px;
}

.sec1 .img {
    border: 3.5vw solid rgba(20,20,22,0.69);
    margin: 20vw;
    margin-top: -25vw;
    font-family: 'S-CoreDream-2ExtraLight';
    color: #d0d0d0;
    font-size: 2vw;
    position: relative;
    z-index: 1000;
}
.sec1 .img p {
    background: rgba(20,20,22,0.69);
    padding: 3vw;
    padding-bottom: 0vw;
    font-size: 1.5vw;
    text-align: justify;
}


/* sec2 */
.sec2 {
    padding: 5vw;
}
.sec2 .text-bg {
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    line-height: .9;
    font-weight: 900;
    padding: 7vw 0; 
    font-family: 'Poppins', sans-serif;
}
.sec2 .text-bg strong {
    display: block;
}
.sec2 .text-bg strong span {
    opacity: 0;
}
.sec2 .site {
    width: 30vw;
    background: #fff;
    padding: 3vw;
}
.sec2 .site h2 {
    color: #000;
    font-size: 2.3vw;
    font-family: 'S-CoreDream-6Bold';
}
.sec2 .site p {
    font-size: 1vw;
    font-family: 'S-CoreDream-2ExtraLight';
    padding: 1vw 0;
}













