@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 스크롤값 */
/* .info {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.4);
    color: #000;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    z-index: 10000;
    font-style: normal;
} */
/* progress */
.progress {
	background: rgb(0, 0, 0); color: #fff;
	width: 100%; height: 100%;
	position: fixed; z-index: 5000;
	animation: progress 0.5s ease;
}
.progress-text {
	display: block; 
    font-size: 2vw;
    margin-top: 10px; 
    position: absolute; 
    text-align: center; 
    top: 55%; 
    width: 100%; 
    color: #fff;
}

#loader {
    position:absolute;
    width:40vw;
    height:3vh;
    left:42.5%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    font-size: 3vw;
  }
  
  #loader div {
    position:absolute;
    width:2vw;
    height:3vh;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 2s linear infinite;
    transform:rotate(-180deg);
    color:#35C4F0;
  }
  
  #loader div:nth-child(2) {
    animation-delay:0.2s;
  }
  #loader div:nth-child(3) {
    animation-delay:0.4s;
  }
  #loader div:nth-child(4) {
    animation-delay:0.6s;
  }
  #loader div:nth-child(5) {
    animation-delay:0.8s;
  }
  #loader div:nth-child(6) {
    animation-delay:1s;
  }
  #loader div:nth-child(7) {
    animation-delay:1.2s;
  }
  
  @keyframes move {
    0% {
      left:0;
      opacity:0;
    }
      35% {
          left: 41%; 
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          transform:rotate(180deg);
          opacity:0;
      }
  }
  
  @-moz-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%; 
          transform:rotate(180deg);
          opacity:0;
      }
  }
  
  @-webkit-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%;
          transform:rotate(180deg); 
          opacity:0;
      }
  }
  
  @-o-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          transform:rotate(180deg); 
          opacity:0;
      }
  }


/* layout */
body {
    background: #000;
    overflow-x: hidden;
    position: relative;
    z-index: -10;
}

.hidden {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}

#contents {
    height: 100vh;
}

#section1 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

#section2 {
    position: fixed;
    z-index: -1;
    top: -0px;
}

#section3 {
    position: fixed;
    z-index: -10;
    z-index: -100;
    transform: translateX(0%);
}

#section4 {
    position: fixed;
    z-index: -10000000;
}

#section5 {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 100%;
}

/* scroll */
.pageYOffset {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(39, 37, 37, 0.4);
    padding: 1vw;
    z-index: 100;
    color: #fff;
}

/* section1 */
.sec1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 3vw;
    margin: 3vw;
    background: #B1B1B0;
}

.sec1 .mt {
    line-height: 1.8vw;
    font-size: 2.0vw;
    margin-top: 1.5vw;
    padding-top: 1vw;
    display: inline-block;
    overflow: hidden;
    font-weight: 200;
}

.sec1 .mt span {
    position: relative;
    top: 100px;
}

.sec1 h1 {
    font-size: 10vw;
    line-height: .6;
    font-weight: 800;
    padding: 6vw 0 8vw;
    color: #2D2D2D;
}

.sec1 h1 p {
    display: block;
    line-height: 10vw;
    font-weight: 800;
    display: inline-block;
    min-width: 2.5vw;
    font-size: 10vw;
    overflow: hidden;
}

.sec1 .h1txt span {
    position: relative;
    top: 200px;
}

.sec1 .img {
    border: 3.5vw solid #4E4E4F;
    margin: 0vw 20vw -20vw 20vw;
    color: #D0D0D0;
    font-size: 2vw;
    position: relative;
    z-index: 1000;
    transform: translate(0%, -5%);
}

.sec1 .img div {
    background: #4E4E4F;

}

.sec1 .img p {
    font-family: 'S-CoreDream-2ExtraLight';
    background: #4E4E4F;
    padding: 3vw;
    padding-bottom: 0vw;
    font-size: 1.5vw;
    text-align: justify;
    letter-spacing: -2px;
    line-height: 1.5;
    margin: -1px;
    opacity: 0;
}


/* info1 */
.sec1 .img .info1 {
    background: #4E4E4F;
    margin: -1px;

}

.sec1 .img .info1 .info-img {
    width: 10vw;
    margin: 0 auto;
    padding-top: 4vw;
    opacity: 0;

}

.sec1 .img .info1 .info-text {
    margin-bottom: 1vw;
    opacity: 0;
}


/* info 링크 */
.sec1 .img .info1 .info-link {
    display: flex;
    justify-content: space-between;
    padding-top: 1vw;
    margin-top: 1vw;
    text-transform: none;
    border-top: 1px solid #fff;
    opacity: 0;
}

.sec1 .img .info1 .info-link li a {
    color: #888888;
    position: relative;
    padding: 0.5vw;
    transition: all 0.3s;
}

.sec1 .img .info1 .info-link li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.2vw;
    background: #888888;
    transition: all 0.5s;
}

.sec1 .img .info1 .info-link li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0.2vw;
    background: #888888;
}


.sec1 .img .info1 .info-link li a .arr {
    width: 1.3vw;
    fill: #888888;
    transition: fill 0.5s;
}


/* info1오버효과 */
.sec1 .img .info1 .info-link li a:hover {
    color: #fff;
    transition: all 0.3s;
}

.sec1 .img .info1 .info-link li a:hover::before {
    width: 100%;
    transition: all 0.5s;
    background: #fff;
}

.sec1 .img .info1 .info-link li a:hover::after {
    width: 0%;
    transition: all 0.2s;
}

.sec1 .img .info1 .info-link li a:hover .arr {
    fill: #fff;
    transition: fill 0.5s;
}




/* section2 */
.sec2 {
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 11vw;
    line-height: .9;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
    margin-top: 3vw;
    opacity: 0;
}

.sec2 p {
    color: rgb(45, 45, 45);
}


.sec2 .site {
    display: inline-block;
    width: 31vw;
    background: #fff;
    padding: 3vw;
    text-align: left;
    color: #000;
    position: relative;
}



.sec2 .site h2 {
    font-size: 2.6vw;
    font-family: 'S-CoreDream-6Bold';
}

.sec2 .site p {
    font-size: 1.2vw;
    font-family: 'S-CoreDream-2ExtraLight';
    padding: 1.5vw 0 3vw;
    line-height: 1.3;
    color: #000;
}

.sec2 .site .site-img {
    width: 25vw;
    height: 17vw;
    overflow: hidden;
    position: relative;
}

.sec2 .site .site-img .button {
    width: 100%;
    height: 100%;
    background: rgba(39, 37, 37, 0.8);
    opacity: 0;
    transition: all 1s;

}

.sec2 .site:hover .site-img .button {
    width: 100%;
    height: 100%;
    background: rgba(39, 37, 37, 0.8);
    opacity: 1;
    transition: all 1s;
}

.sec2 .site .site-img .button .text a {
    display: none;
}

.sec2 .site:hover .site-img .button .text a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 1vw;
    border-radius: 50%;
    background: #5a99d4;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 0 0 rgb(90, 153, 212, 0.5);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(.9);
    }

    70% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 2vw rgb(90, 153, 212, 0.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(.9);
        box-shadow: 0 0 0 0 rgb(90, 153, 212, 0.4);
    }
}

/* 웹 표준 사이트 */
.sec2 .s1 {
    position: absolute;
    left: 12vw;
    top: 60vw;
    transform: translate(0, 0);
    opacity: 0;
}

.sec2 .s1 .site-img {
    background-image: url(../img/PSD-1.jpg);
    background-size: cover;
}



/* 반응형 사이트 */
.sec2 .s2 {
    position: absolute;
    right: 10vw;
    top: 93vw;
    transform: translate(0, 0);
    opacity: 0;

}

.sec2 .s2 .site-img {
    background: url(../img/responsive.jpg) center center;
    background-size: cover;
}



/* 모바일 사이트 */
.sec2 .s3 {
    position: absolute;
    left: 15vw;
    top: 150vw;
    transform: translate(0, 0);
    opacity: 0;

}

.sec2 .s3 .site-img {
    background-image: url(../img/3948944.jpg);
    background-size: cover;
}



/* 네이버 사이트 */
.sec2 .s4 {
    position: absolute;
    right: 15vw;
    top: 210vw;
    transform: translate(0, 0);
    opacity: 0;

}

.sec2 .s4 .site-img {
    background-image: url(../img/navr.jpg);
    background-size: cover;
}



/* 농심 사이트 */
.sec2 .s5 {
    position: absolute;
    left: 30vw;
    top: 210vw;
    transform: translate(0, 0);
    opacity: 0;

}

.sec2 .s5 .site-img {
    background-image: url(../img/nongshim.jpg);
    background-size: cover;
}













/* section3 */
.sec3 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 10000;
    background: url(../img/zcab.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.sec3 h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    opacity: 0;
    z-index: -10;
}

/* 버튼  */
.btn {
    display: inline-block;
    font-size: 1vw;
    padding: 0 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.5s ease;
    text-transform: uppercase;
    line-height: 2.5vw;

}


/* col1 */
.sec3 .col1 {
    position: relative;
    left: 110%;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
}

.sec3 .col1 .col1-box {
    position: absolute;
    left: 50%;
    top: 50%;
}

.sec3 .col1 .col1-box.st1 {
    transform: translate3d(25%, -45%, 10vw);
    width: 100vw;
    opacity: 0.8;
    z-index: 1;
}

.sec3 .col1 .col1-box.st2 {
    transform: translate3d(-35%, -80%, 8vw);
    width: 90vw;
    opacity: 0.5;
    z-index: 1;
}

.sec3 .col1 .col1-box.st3 {
    transform: translate3d(-50%, -47%, -1vw);
    width: 80vw;
    z-index: 1;
}

.sec3 .col1 .col1-box.st4 {
    transform: translate3d(-80%, -45%, -5vw);
    width: 45vw;
    z-index: -10;
}

.sec3 .col1 .col1-box.st5 {
    transform: translate(-50%, -50%);
    width: 30vw;
    z-index: 1;
}

.sec3 .col1 .col1-box.st6 {
    transform: translate3d(-120%, -50%, 50vw);
    font-size: 4vw;
    line-height: 2.8vw;
    color: #1B8567;
    z-index: 1;
    

}

.sec3 .col1 .col1-box.st6 .btn1 {
    color: #fff;
    border: solid #1B8567 0.1vw;
    background: #1B8567;
    
}


.sec3 .col1 .col1-box.st6 .st6-te {
    font-weight: 800;
    z-index: 100;
    line-height: 5vw;
}

.sec3 .col1 .col1-box.st7 {
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.7;
}



/* col2 */
.sec3 .col2 {
    position: relative;
    left: 110%;
    top: -100%;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
}

.sec3 .col2 .col2-box {
    position: absolute;
    left: 50%;
    top: 50%;
}

.sec3 .col2 .col2-box.st1 {
    transform: translate3d(-60%, -50%, 5vw);
    width: 70vw;
}

.sec3 .col2 .col2-box.st2 {
    transform: translate3d(-50%, -50%, 10vw);
    width: 80vw;
}

.sec3 .col2 .col2-box.st3 {
    transform: translate3d(-50%, -49%, -10vw) rotate(0deg);
    width: 80vw;
    z-index: -10;
}

.sec3 .col2 .col2-box.st4 {
    transform: translate3d(-55%, -70%, -100vw) rotate(-40deg);
    width: 100vw;
    opacity: 0.7;
    z-index: -10;
}

.sec3 .col2 .col2-box.st5 {
    transform: translate(-50%, -50%);
    width: 30vw;
}

.sec3 .col2 .col2-box.st6 {
    transform: translate3d(-120%, -50%, 50vw);
    font-size: 4vw;
    line-height: 2.8vw;
    color: #C85452;
}

.sec3 .col2 .col2-box.st6 .st6-te {
    font-weight: 800;
    line-height: 5vw;
}

.sec3 .col2 .col2-box.st6 .btn2 {
    color: #fff;
    border: solid #C85452 0.1vw;
    background: #C85452;
}

.sec3 .col2 .col2-box.st7 {
    transform: translate(-50%, -50%);
    z-index: -1;
}






/* col3 */
.sec3 .col3 {
    position: relative;
    left: 110%;
    top: -200%;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
}

.sec3 .col3 .col3-box {
    position: absolute;
    left: 50%;
    top: 50%;
}

.sec3 .col3 .col3-box.st1 {
    transform: translate3d(-50%, -50%, -3vw);
    width: 80vw;
    z-index: -100;
}

.sec3 .col3 .col3-box.st2 {
    transform: translate3d(-50%, -50%, 1vw);
    width: 80vw;
    z-index: 100;
}

.sec3 .col3 .col3-box.st3 {
    transform: translate3d(-150%, -100%, 10vw);
    width: 30vw;
    z-index: -1;
}

.sec3 .col3 .col3-box.st4 {
    transform: translate3d(-40%, -80%, 10vw);
    width: 70vw;
    z-index: 10;
}

.sec3 .col3 .col3-box.st5 {
    transform: translate3d(-50%, -50%, 0);
    width: 30vw;
}

.sec3 .col3 .col3-box.st6 {
    transform: translate3d(-120%, -50%, 50vw);
    font-size: 4vw;
    line-height: 2.8vw;
    color: #519B87;
}

.sec3 .col3 .col3-box.st6 .st6-te {
    font-weight: 800;
    line-height: 5vw;
}

.sec3 .col3 .col3-box.st6 .btn3 {
    color: #fff;
    border: solid #519B87 0.1vw;
    background: #519B87;
}

.sec3 .col3 .col3-box.st7 {
    transform: translate(-50%, -50%);
    z-index: -1;
}



/* col4 */
.sec3 .col4 {
    position: relative;
    left: 0%;
    top: -300%;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
}

.sec3 .col4 .col4-box {
    position: absolute;
    left: 50%;
    top: 50%;
}

.sec3 .col4 .col4-box.st1 {
    transform: translate3d(-40%, -40%, 5px);
    width: 100vw;
    z-index: 1;
}

.sec3 .col4 .col4-box.st2 {
    transform: translate3d(-50%, -50%, -2px);
    width: 100vw;
    z-index: -2;
}

.sec3 .col4 .col4-box.st2-1 {
    transform: translate3d(-50%, -50%, -3px);
    width: 50vw;
    z-index: -1000;
}

.sec3 .col4 .col4-box.st3 {
    transform: translate(60%, 40%);
    width: 30vw;
}

.sec3 .col4 .col4-box.st4 {
    transform: translate(-150%, -10%);
    width: 30vw;
}

.sec3 .col4 .col4-box.st5 {
    transform: translate(-50%, -50%);
    width: 30vw;
}

.sec3 .col4 .col4-box.st6 {
    transform: translate3d(-120%, -50%, 100px);
    font-size: 4vw;
    line-height: 2.8vw;
    color: #FFE600;
    z-index: 5000;

}

.sec3 .col4 .col4-box.st6 .st6-te {
    font-weight: 800;
    line-height: 5vw;
}

.sec3 .col4 .col4-box.st6 .btn4 {
    color: #000;
    border: solid #FFE600 0.1vw;
    background: #FFE600;

}

.sec3 .col4 .col4-box.st7 {
    transform: translate(-50%, -50%);
    z-index: -1;
}







/* section4 */
#section4 .sec4 {
    width: 100vw;
    height: 100vh;
    transform: translate(35%, 0);
    overflow: hidden;
    position: relative;
    text-transform: uppercase;


}

/* 배경 글씨 */
#section4 .sec4 h2 > p {
    width: 100%;
    height: 20vh;
    color: #fff;
    font-size: 10vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 20vh;
    color: rgb(34, 34, 34);
    transform: translateX(0%);
    white-space: nowrap;
    opacity: 1;
}

#section4 .sec4 p span {
    color: rgb(34, 34, 34);
    opacity: 1;
}



/* 스크립트 */
#section4 .sec4 .sec4-col1 {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
}
#section4 .sec4 .sec4-col1 iframe {
 padding: 7% 0;
}



/* 소스보기 */
#section4 .sec4 .modal-btn a {
    font-family: 'Poppins', sans-serif, 'S-CoreDream-2ExtraLight';
    ;
    position: absolute;
    right: 3vw;
    bottom: 1.7vw;
    width: 13vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
    font-size: 1vw;
    background: #fff;
    z-index: 0;
}


/* section5 */
.sec5 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sec5 h2 {
    margin: 10vh 0;
    font-size: 8vw;
    color: #fff;
    font-weight: 800;
    line-height: 1;
    text-align: center;
}
.contact{
    width: 55vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.form{
   width: 30vw;
}
#full-name{
    display: block;
    width: 30vw;
    height: 5vh;
    font-size: 1vw;
    padding: 1vw;

}
#email-address{
    display: block;
    width: 30vw;
    height: 5vh;
    margin: 1vw 0;
    font-size: 1vw;
    padding: 1vw;
}
#message{
    display: block;
    width: 30vw;
    height: 30vh;
    padding: 1vw;
    font-size: 1vw;
}
.submit{
    margin-top: 1vw;
    padding: 1vw 3vw;
}
.email{
    margin-left: 2vw;
    width: 23vw;
}
.email h2{
    font-size: 4vw;
    padding: 0;
    margin: -0.5vw 0 0;
    font-weight: 400;
    text-align: left;
}
.email h3{
    color: #fff;
    font-size: 2vw;
    margin: 1vw 0;
    font-family: 'S-CoreDream-2ExtraLight';
}