/* 리셋 */
*{margin: 0;padding: 0;}
a{color: #000; text-decoration: none;}
li{list-style: none;}
img {width: 100%;}

/* 레이아웃 */
#wrap {overflow: hidden;width: 1000px;margin: 0 auto; }
#header {float: left; width: 30%; } 
#contents {float: left;width: 70%; }
#footer {clear: both; background: #edf2f8;}

/* header */
#header h1 img {width: 200px; margin-top: 30px;}
#header .menu {margin-top: 30px;}
#header .menu ul{margin: 20px;}
#header .menu ul .sub-menu ul li{padding: 10px; border-bottom: 1px solid #999;}
/* col1 */
#col1 {margin-top: 30px;}

/* col2 */
#col2 h2 {text-align: center; margin: 30px;}
#col2 ul{overflow: hidden;text-align: center; }
#col2 ul li{float: left; width: 16%;margin: 2%; }

/* col3 */
#col3 {overflow: hidden; text-align: center; margin-top: 30px; background: #999; margin-bottom: 50px;}
#col3 .zzz {float: left; width: 31.3333%;margin: 1%; border: 1px solid #000;box-sizing: border-box;background: #fff;position: relative;}
#col3 .zzz h2 {padding: 20px; }
#col3 .zzz img {width: 100px;}
#col3 .zzz ul { padding: 20px;}
#col3 .zzz ul li {
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
#col3 .zzz a img {width: 30px;}
#col3 .zzz a {position: absolute; right: 0;top: 0; }
#col3 .xxx {float: left; width: 31.3333%;margin: 1%; border: 1px solid #000;box-sizing: border-box;background: #fff;position: relative;}
#col3 .xxx h2 {padding: 20px; }
#col3 .xxx img {width: 100px;}
#col3 .xxx ul { padding: 20px;}
#col3 .xxx ul li {
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
#col3 .xxx a {position: absolute; right: 0;top: 0; }
#col3 .xxx a img {width: 30px;}
#col3 .ccc {float: left; width: 31.3333%; margin: 1%; border: 1px solid #000;box-sizing: border-box;background: #fff; position: relative;}
#col3 .ccc h2 {padding: 20px; }
#col3 .ccc img {width: 100px;}
#col3 .ccc ul { padding: 20px;}
#col3 .ccc ul li {
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#col3 .ccc a {position: absolute; right: 0;top: 0; }
#col3 .ccc a img {width: 30px;}

/* footer */
#footer ul {overflow: hidden;  }
.aaa {float: left; width: 50px; margin: 30px;}
.sss {float: left;margin: 30px; }
.ddd {float: right; width: 200px;margin: 40px 30px 30px 30px;}