/* 스킵 내비게이션*/
#skip {position: relative; }
#skip a {border: 1px solid #fff; background-color: #333; color: #fff; width: 140px; text-align: center; position: absolute; left: 0px; top: -50px; font-size: 14px; padding: 10px; }
#skip a:active,
#skip a:focus {top: 0px; }


/* 레이아웃 */
#wrap {width: 100%; }
#header {width: 100%; height: 325px; 
/*
    background-image: url(../img/header_bg.jpg);
    background-repeat: repeat-x;
    background-position: center top;
*/
    background: url(../img/header_bg.jpg) repeat-x center top}

#footer { border-top: 1px solid #eee;}

/*컨텐츠 레이아웃*/
#cont-nav {background-color: #f6fdff;}
#cont-tit { background-color: #eaf7fd; }
#cont-ban { background-color: #dceff7; }
#cont-cont {background-color: #f6fdff; }

/* 컨테이너 */
.container {width: 990px; height: inherit; margin: 0 auto;/* background-color: rgba(255,255,255,0.3);*/ }

/* 헤더 */
.header .header-menu {text-align: right; }
.header .header-menu a {
    font-size: 14px; color: #fff;
     padding: 10px 0px 10px 13px; 
     display: inline-block; 
     text-transform: capitalize; 
}
.header .header-menu a:hover {color: #666;}

.header .header-tit {text-align: center; }
.header .header-tit h1 {
    font-size: 28px; padding: 5px 20px 6px 20px; 
    background-color: #4aa8d4; color: #fff; 
    text-transform: uppercase; 
    display: inline-block; 
    margin-top: 40px;
}
.header .header-tit a {
    font-size: 18px; color: #fff; 
    background-color: #2698cb; padding: 5px 20px 6px 20px; 
    display: inline-block; 
    margin-top: -5px;
}

.header .header-icon { text-align: center; margin-top: 30px;  }
.header .header-icon a {display: inline-block; width: 60px; height: 60px; background-image: url(../img/icon.png);}
.header .header-icon a.icon1 {background-position: 0 0;}
.header .header-icon a.icon2 {background-position: 0 -60px; }
.header .header-icon a.icon3 {background-position: 0 -120px; }
.header .header-icon a.icon4 {background-position: 0 -180px; }
.header .header-icon a.icon1:hover {background-position: -60px 0;}
.header .header-icon a.icon2:hover {background-position: -60px -60px; }
.header .header-icon a.icon3:hover {background-position: -60px -120px; }
.header .header-icon a.icon4:hover {background-position: -60px -180px; }

/* 전체 메뉴*/
.nav {overflow: hidden; padding: 30px 0;}
.nav div {float: left; width: 40%; }
.nav div:last-child {width: 20%; }
.nav div ul {overflow: hidden; }
.nav div ul li {width: 50%; float: left; }
.nav div:last-child ul li {width: 100%; }
.nav div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px; }
.nav div a:hover {text-decoration: underline;}


/*타이틀*/
.tit {position: relative; }
.tit h2 {text-align: center; font-size: 40px; color: #2c94c4; padding: 5px 0; font-family: 'Nanum Brush Script', cursive; }
.tit .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px; background-image: url(../img/icon.png); background-position: 0 -600px;}
.tit .btn:hover {background-position: -60px -600px;}
.tit .btn.on{background-image: url(../img/icon.png); background-position: 0 -660px;}
.tit .btn.on:hover{background-image: url(../img/icon.png); background-position: -60px -660px;}

/* 베너*/
/* .ban {position: relative; padding: 20px 0; }
.ban a.prev { position: absolute; left: -80px; top: 60px; width: 43px; height: 43px; background-image: url(../img/icon.png);background-position: -150px 0px;}
.ban a.next {position: absolute; right: -80px; top:60px; width: 43px; height: 43px; background: url(../img/icon.png);background-position:-150px -43px;}
.ban a.prev:hover {background-position: -193px 0; }
.ban a.next:hover {background-position: -193px -43px; }
.ban ul {overflow: hidden; }
.ban ul li {float: left ; width: 330px; }
.ban ul li:nth-child(2) {text-align: center; }     /*ie9 부터 적용*/
/* .ban ul li:last-child {text-align: right; }   ie9부터 적용 */

/* .ban ul li.ban-img1 { }
.ban ul li.ban-img2 {text-align: center; }
.ban ul li.ban-img3 {text-align: right; }
.ban ul li a { }
.ban ul li img {border: 4px solid #dcdcdc;}
.ban ul li img:hover {border-color: #98bcdc; } */ 

/* 슬릭 배너 */
.ban {padding: 24px 0; }
.ban .slick-prev{
    position: absolute; left: -80px; top: 70px;
    width: 43px; height: 43px;
    background: url(../img/icon.png) -150px 0; 
    text-indent: -9999px; cursor: pointer;
}
.ban .slick-next{
    position: absolute; right: -80px; top: 70px; 
    width: 43px; height: 43px; 
    background: url(../img/icon.png) -150px -43px; 
    text-indent: -9999px; cursor: pointer;
     
}
.ban .slick-prev:hover { background-position: -193px 0;}
.ban .slick-next:hover {background-position: -193px -43px; }
.ban img {border: 4px solid #dcdcdc; }
.ban img:hover {border-color: #98bcdc; }

.ban .slick-slide { margin: 10px;}
.ban .slick-dots {position: absolute; bottom: 5px; display: block; width: 100%;  text-align:center ;}
.ban .slick-dots li { display: inline-block; margin: 5px;}
.ban .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; background: #5dbfeb; border-radius: 50%; cursor: pointer; }
.ban .slick-dots li.slick-active button {background: #2b91c8; }



/*컨텐츠*/
.cont {overflow: hidden; padding-top: 30px; }
.cont .colunn {float: left; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right:  30px; position: relative; }
.cont .colunn.col1 {border-right: 1px solid #c8c8c8; }
.cont .colunn.col2 {border-right: 1px solid #c8c8c8; }
.cont .colunn.col3 {padding-right: 0; margin-right:0 ;}
.cont .colunn.col4 {border-right: 1px solid #c8c8c8; }
.cont .colunn.col5 {border-right: 1px solid #c8c8c8; }
.cont .colunn.col6 {padding-right: 0; margin-right: 0; }

.cont .colunn .icon-img {display: block; width: 60px; height: 60px; background: url(../img/icon.png); position: absolute; left: 0; top: 0; }
.cont .colunn .icon-tit {padding-left: 70px; font-size:  16px; color: #2c94c4;  }
.cont .colunn .icon-desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom:15px ; }


.cont .col1 .icon-img {background-position: 0 -240px; }
.cont .col2 .icon-img {background-position: 0 -300px; }
.cont .col3 .icon-img {background-position: 0 -360px; }
.cont .col4 .icon-img {background-position: 0 -420px; }
.cont .col5 .icon-img {background-position: 0 -480px; }
.cont .col6 .icon-img {background-position: 0 -540px; }

.cont .col1 .icon-img:hover {background-position: -60px -240px; }
.cont .col2 .icon-img:hover {background-position: -60px -300px; }
.cont .col3 .icon-img:hover {background-position: -60px -360px; }
.cont .col4 .icon-img:hover {background-position: -60px -420px; }
.cont .col5 .icon-img:hover {background-position: -60px -480px; }
.cont .col6 .icon-img:hover {background-position: -60px -540px; }

/* 게시판 */
.notice {position: relative; }
.notice h4 {font-size:14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;  }
.notice ul li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 8px;/* background-image: url(../img/dot.gif); background-repeat: no-repeat; background-position: 0 8px;*/
background: url(../img/dot.gif) no-repeat 0 8px ;}
.notice ul li a {font-size: 12px; }
.notice a.more {position: absolute; right: 0; top: 0; background: url(../img/icon.png) -150px -90px; width: 17px; height: 20px; }
.notice a.more:hover {background-position: -167px -90px;}

/* 게시판2 */
.notice2 {position: relative; }
.notice2 h4 {font-size:14px; color: #0093bd; padding-bottom: 3px; font-weight: bold; margin-top: 15px;  }
.notice2 li { overflow: hidden;font-size: 12px; background: url(../img/dot.gif) no-repeat 0 8px ; padding-left: 8px;}
.notice2 li a { float: left; width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.notice2 li span {float: left; width: 30%; text-align: right; font-size: 12px; }
.notice2 .more {position: absolute; right: 0; top: 0; background: url(../img/icon.png) -150px -90px; width: 17px; height: 20px; }
.notice2 .more:hover {background-position: -167px -90px;}

/* 게시판3 */
.notice3 {position: relative;}
.notice3 h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold; margin-top: 15px;}
.notice3 li {position: relative; padding: 8px 0 14px 60px; }
.notice3 li a img {width: 50px; border: 1px solid #0093bd; position: absolute; left: 0; top: 0; }
.notice3 li a strong {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 li a span {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 .more {position: absolute; width: 17px; height: 17px; right: 0; top: 0; background: url(../img/icon.png) -150px -90px; }
.notice3 .more:hover {background-position: -167px -90px;}

/* 오버효과1 */
.notice-hover h4 {font-size:14px; color: #0093bd; padding-bottom: 3px; font-weight: bold; margin-top: 15px; }
.notice-hover ul {overflow: hidden; }
.notice-hover li {float: left; width: 93px; margin-right: 5px; text-align: center; }
.notice-hover li:last-child {margin-right: 0; }
.notice-hover li a span {position: relative; display: block; width: 93px; height: 93px; line-height: 93px;}
.notice-hover li a span img {width: 100%; }
.notice-hover li a span em {visibility: hidden; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.7); color: #fff; width: 100%; height: 100%;}
.notice-hover li a span:hover em{visibility: visible; }
.notice-hover li a strong {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* 오버효과2 */
.notice-hover2 ul {overflow: hidden; margin-top: 15px; }
.notice-hover2 ul li {float: left; width: 93px; margin-right: 5px; text-align: center ;}
.notice-hover2 ul li:last-child { margin-right: 0;}
.notice-hover2 ul li a span {display: block; position: relative; width: 93px; height: 93px; }
.notice-hover2 ul li a span img {width: 100%; }
.notice-hover2 ul li a span em {visibility: hidden; position: absolute; left: 0; bottom:0; background: rgba(0,0,0,0.7); color: #fff; width: 100%; }
.notice-hover2 li a span:hover em{visibility: visible; }
.notice-hover2 ul li a strong {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* 광고 */
.ad {overflow: hidden; }
.ad h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;margin-top: 15px; }
.ad a {float: left; width: 93px; margin-right: 5px; }
.ad a:last-child {margin-right: 0; }
.ad a img {width: 100%; }

/* 탭 메뉴*/
.tad-meru {position: relative; border: 1px solid #ccc; padding: 8px; height: 105px; }
.tad-meru ul {overflow: hidden; border-bottom: 1px solid #ccc; }
.tad-meru ul li {float: left ;border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px; }
.tad-meru ul li a {display: block; padding: 5px 10px; }
.tad-meru ul li ul {position: absolute; left: 0; top: 48px; border: 0;}
.tad-meru ul li ul li {float: none; border: 0; padding-left: 18px; padding-bottom: 3px; 
    background: url(../img/dot.gif) no-repeat 9px 8px }
.tad-meru ul li ul li a{padding: 0; }

.tad-meru ul li.active {background-color: #2c94c4; }
.tad-meru ul li.active a {color: #fff}
.tad-meru ul li.active ul li a {color: #333; }

/* 최신 공지사항 */
.notice5 {position: relative; border:1px solid #ccc; margin-top: 15px; }
.notice5 h4 {border-bottom: 1px solid #ccc; padding: 8px 10px;}
.notice5 h4 em {color: #f00; }
.notice5 ul {padding: 10px; }
.notice5 ul li {overflow: hidden; padding-left: 8px; background: url(../img/dot.gif) no-repeat 0 8px;}
.notice5 ul li a{float: left; width: 70%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.notice5 ul li span{float: left; width: 30%; text-align: right; }
.notice5 .more {position: absolute; right: 9px; top: 9px; }


/*갤러리*/
.gallery {position: relative; border: 1px solid #ccc; height: 255px; overflow: hidden;}
.gallery h4 {border-bottom: 1px solid #ccc; font-size: 14px; color: #0093bd; font-weight: bold; padding: 8px 10px;}
.gallery .gallery-btn {position: absolute; right: 5px; top: 7px; }
.gallery .gallery-btn ul {overflow: hidden; }
.gallery .gallery-btn li {float: left; }
.gallery .gallery-btn li a{ width: 23px; height: 23px; display: block; background:url(../img/icon.png)}
.gallery .gallery-btn li.gb-icon1 a {background-position: -150px -120px;}
.gallery .gallery-btn li.gb-icon2 a {background-position: -150px -143px;}
.gallery .gallery-btn li.gb-icon3 a {background-position: -150px -166px;}
.gallery .gallery-btn li.gb-icon4 a {background-position: -150px -189px;}
.gallery .gallery-btn li.gb-icon1 a:hover {background-position: -173px -120px; }
.gallery .gallery-btn li.gb-icon2 a:hover {background-position: -173px -143px; }
.gallery .gallery-btn li.gb-icon3 a:hover {background-position: -173px -166px; }
.gallery .gallery-btn li.gb-icon4 a:hover {background-position: -173px -189px; }
.gallery .gallery-img img {width: 100%; } 

/*  슬릭 갤러리 */
.gallery .gallery-btn button {
    float: left ; margin: 1px 2px; 
    display: block;
     width: 23px; height: 23px;
     background: url(../img/icon.png); 
}
.gallery .gallery-btn .gb-icon1 {background-position: -150px -120px;} 
.gallery .gallery-btn .gb-icon2 {background-position: -150px -143px;} 
.gallery .gallery-btn .gb-icon3 {background-position: -150px -166px;} 
.gallery .gallery-btn .gb-icon4 {background-position: -150px -189px;} 
.gallery .gallery-btn .gb-icon1:hover {background-position: -173px -120px;} 
.gallery .gallery-btn .gb-icon2:hover {background-position: -173px -143px;} 
.gallery .gallery-btn .gb-icon3:hover {background-position: -173px -166px;} 
.gallery .gallery-btn .gb-icon4:hover {background-position: -173px -189px;} 
/*로그인*/
.login-wrap {background: #f2f4f5;padding: 15px; }
.login-header {overflow: hidden; font-size: 12px; height: 24px; }
.login-header .lh-check {float: left; padding-right: 15px;}
.login-header .lh-check .input-check {vertical-align: -2px; }
.login-header .lh-ip {float: left; }
.login-header .lh-ip strong {color: #0093bd; text-decoration: underline; }

.login-content {position: relative }
.login-content .lc-text .input-text {width: 182px; height: 16px; padding: 2px 5px; border: 1px solid #bebebe; margin-bottom: 2px; background: #fff; }
.login-content .lc-text .lc-btn {position: absolute; right: 0; top: 0; width: 62px; height: 46px; background: #fff; border: 1px solid #bebebe; }
.login-footer {margin-top: 5px; }
.login-footer li  {display: inline}
.login-footer li a {font-size: 12px; }


/*푸터*/
.footer {text-align: center; padding: 25px 0; }
.footer ul {margin-bottom: 20px; }
.footer li {position: relative; display: inline; padding: 0 7px 0 10px; }
.footer li::before {content: ""; width: 1px; height: 12px; background: #ccc; position: absolute; left: 0; top: 2px;}
.footer li:first-child::before {width: 0;height: 0; }












