body{
    max-width: 980px;
    margin: 0 auto;
    overflow-x: hidden;
}




/* 레이아웃 */
#header{
}


/* header */
.header{
    display: flex;
    }
.header .ham{
    position: relative;margin: 20px;
}
.header .ham span{
    position: absolute;
    width: 20px; height: 3px; background: #000;
}
.header .ham span::before {
    content: '';
    position: absolute; left: 0;  bottom: 6px;
    width: 20px; height: 3px; background: #000;
}
.header .ham span::after{
    content: '';
    position: absolute; left: 0;  top: 6px;
    width: 20px; height: 3px; background: #000;
}



.header h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin: 10px 10px 30px 30px;
    font-size: 20px; line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #000;
}

/* nav */
#nav .tab ul{
    display: flex;
    justify-content: space-around;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom:  3px solid #ECECEC ;
}
#nav .tab ul li.active{
    padding-bottom: 17px;
    border-bottom:3px solid #000000 ;
}

#nav .tab ul li.active a{
    color: #000;
}
#nav .tab ul li a{
    padding:0 17px 0px 19px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #9C9C9C;
}



/* section01 */
#section01 {font-family: 'Noto Sans KR', sans-serif;}
#section01 h2 {margin: 1rem 0 1rem 1rem; font-size: 1.3rem;}
.swiper-wrapper {margin: 0 1.1rem; width: 1000px;} 
.swiper-wrapper .swiper-slide {float: left; margin-right: 0.3rem;}
.swiper-wrapper .swiper-slide img {width: 100%;}
.swiper-wrapper .swiper-slide p {line-height: 1.8; margin-top: 0.5rem;}
.swiper-wrapper .swiper-slide span {color: #7A7A7A;}


#section02 {font-family: 'Noto Sans KR', sans-serif;}
#section02 h2 {margin: 1rem 0 1rem 1rem; font-size: 1.3rem;}

/* sec2 */
.sec2{
    overflow: hidden;
    font-family: 'Noto Sans KR';
    margin: 30px 0 30px 30px;

}
.sec2 h2{
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
.sec2 .imgList{
    overflow: hidden;
    width: 1000px;
}
.sec2 .slider{
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}
.sec2 .slider .list-img img{
    width: 220px;
}
.sec2 .list-text-tt{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
.sec2 .list-text-desc{
    font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.76px;
color: #959595;
}



/* sec3 */
.sec3 {
    margin-top: 100px;
}
.sec3 .col1{
    margin: 20px;
    position: relative;
}
.sec3 .col1 img{
    
}
.sec3 .col1 span{
    position: absolute; left: 20px; bottom: 85px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;  
}

.sec3 .col1 h2{
    position: absolute;left: 20px; bottom: 20px;
    font-weight: 600;
    font-size: 28px;    
    line-height: 30px;
    color: #fff;
}

.sec3 .col2{
    margin: 20px;
    position: relative;
}
.sec3 .col2 img{
    
}
.sec3 .col2 span{
    position: absolute; left: 20px; bottom: 85px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;  
}

.sec3 .col2 h2{
    position: absolute;left: 20px; bottom: 20px;
    font-weight: 600;
    font-size: 28px;    
    line-height: 30px;
    color: #fff;
}








/* index2 */
/* index2 */
/* index2 */
/* index2 */
/* index2 */

.header-query{
    margin: 30px 0;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}
.header-query input{
    width: 220px;
    height: 40px;
    padding: 10px 50px;
    border-radius: 30px;
    background: #F2F2F2;
    margin-left:30px ;
    border: none;
    font-size: 24px;
    color: #9C9C9C;
}
.fa-search{
  position: absolute;left: 45px; top: 20px;
  font-size: 22px;color: #9C9C9C;
}


/* section01 */
#section01{
    width: 100%;
    margin:0 0 30px 0;
}
#section01 .sec1{
    
position: relative;
font-family: 'Noto Sans KR', sans-serif;
margin-bottom: 10px;
}
#section01 .sec1 p{
    position: absolute;
    top: 30%; left: 30px;
    color: #fff;
    font-size: 22px;
}


/* section02 */

#section02 .sec2{
    margin: 0;
}
#section02 .sec2 h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    padding: 20px 10px ;
    margin:0 20px 20px 20px;
    border-bottom: 1px solid #000;
    text-align: left;
}


/* index3 */
/* index3 */
/* index3 */
/* index3 */
/* index3 */

#section001{
    width: 320px;
    margin: 40px auto;
    font-family: 'Noto Sans KR', sans-serif;

}
#section001 p{
font-size: 18px;
margin-bottom: 10px;
}

#section001 h2{
    
margin: 0;
font-size: 24px;
color: #CBCBCB;
}
#section001 h2 p{
    margin: 0;
    font-size: 24px;
}

#section02{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 20px;
    border-bottom: solid #F1F1F1 3px;
}
#section02 .col{
    margin-bottom: 20px;
    position: relative;
}

#section02 .col strong{
    position: absolute; left: 20px; bottom: 60px;
    color: #fff; font-size: 14px;
}
#section02 .col span{
    position: absolute; left: 20px; bottom: 30px;
    color: #fff;font-size: 26px;
}
#section02 .col p{
    margin-top: 10px;
}
#section02 .col em{
    position: absolute; left: 20px; bottom: 90px;
    color: #fff; font-size: 14px;
}

#section03 {
margin: 20px;
font-family: 'Noto Sans KR', sans-serif;

}

#section03 h2{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}


/* index4 */
/* index4 */
/* index4 */
/* index4 */
/* index4 */


#section01{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
#section01 h2{
    font-weight: 600;
    font-size: 30px;
color: #000;
margin-bottom: 20px;
}
#section01 p{
    font-size: 14px;
    margin: 0;
    line-height: 25px;
}


#section02 .ccc{
margin-bottom: 1px;
background: #000;
width: 100%;
height: 200px; text-align: center;
position: relative;
}
#section02 .ccc span{
    display: inline-block;
    margin: 50px 0 30px;
    width: 300px;
    color: #fff;font-size: 32px;
    line-height: 25px;font-family: 'Noto Sans KR', sans-serif;

}
#section02 .ccc p{
    text-align: center;
    color: #fff;font-size: 14px;
    line-height: 25px;font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}
#section02 .ccc.c1{
    background-image: url(../img/img9@3x.png);
    background-size: cover;
}
#section02 .ccc.c2{
    background-image: url(../img/img10@3x.png);
    background-size: cover;
}
#section02 .ccc.c3{
    background-image: url(../img/img4@3x.png);
    background-size: cover;
}
#section02 .ccc.c4{
    background-image: url(../img/img11@3x.png);
    background-size: cover;
}
