/*여백초기화*/
body, div, ul, li, ol ,dl ,dt , h1, h2, h3, h4, h5, h6, input, fieldest, legend, p, select, table, th, td, tr,textarea,botton,form,figure, figcaption {margin:0;padding:0;}

/*a 링크 초기화*/
a{color: #222; text-decoration: none;}
a:hover {color:#390; }

/* clearfix */
.clearfix::before, .clearfix::after{
    content: ''; display: block; clear: both;
}

/* 폰트 초기화*/
body, input, textarea, select, bitton, table{
    font-family:'Nanum Gothic', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size:13px; line-height:1.5;}

/*제목 태크 초기화*/
h1, h2, h3, h4, h5, h6 {font-size: 13px; color:#222; font-weight: normal;}

/*불릿기호 초기화*/
li,ol,ul,menu {list-style:none;}

/* 이미지 초기화 */
img{border:0 none; vertical-align:top; width: 100%;}

video{ width: 100%;}

/* 폰트 스타일 초기화 */
em {font-style: normal;}

/*테두리 초기화*/
fieldset{border:0 none;}

/* IR 효과*/
/*의미있는 이미지의 대체 텍스트를 제공하는 경우*/
.ir_pm {display: block; overflow: hidden; font-size:0; line-height:0; text-indent:-9999px;}
/*의미있는 이미지의 대체 텍스트를 이미지가 없어도 대체 텍스트를 보여주고자 할때*/
.ir_wa{display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%}
/*대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때*/
.ir_so {overflow: hidden; position: absolute; width: 0; height:0; line-height: 0; text-indent: -9999px;}













