@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap');
@font-face { src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 리셋 */
*{margin: 0;padding: 0;}
li,a{list-style: none; text-decoration: none;}
/* 레이아웃 */
body{
    background: #000; 
    font-family: 'Archivo Narrow', sans-serif;
    box-sizing: border-box;
}


#header{
    width: 95vw;
    margin: 2vw auto 0;
    padding-bottom: 5vw;
    background: #B1B1B0;
    position: relative;
z-index: 1000;
}



.header ul{
    padding: 5vw 0;
}
.header li{
    text-align: center;
    font-size: 12.5vw;
    color: #2D2D2D;
    font-weight: 400;
    line-height: 10vw;
}
.header-box1{
    width: 50vw;
    margin: 0 auto;
    position: relative;
    transform: translateY(-10%);
    overflow: hidden;
}
.box-img{
    background-image: url(../img/img2.jpg);
    background-size: cover;
    width: 50vw;
    height: 60vw;
    opacity: .8;
}
.box-text{
    font-family: 'S-CoreDream-8Heavy';
    font-weight: 600;
    opacity: 1;
    margin: 0 auto;
    font-size: 2vw;
    width: 40vw;
    text-align: center;
    color: #D2D2D2;
    padding-bottom: 4vw;
    background: #4E4E4F;
    padding: 5vw;
}
.box-text li{
    padding-bottom: 2vw;
}
.box-text span{
    font-size: 2.5vw;
    color: #fff;
}
.box-l{
    width: 10vw;    
    margin: 5vw auto 0;
}
.box-l p{
    font-size: 1vw;

}

.work1 a{
    position: fixed;
    left: 7vw;
    bottom: 3vw;
    font-size: 1.3vw;
    color: #000;
}
.work2 a{
    position: fixed;
    right: 7vw;
    bottom: 3vw;
    font-size: 1.3vw;
    color: #000;
}
#con{

}
.con-bgtext{
    margin-top: 9vw;
}
.con-bgtext ul li{
    font-size: 13vw;
    line-height: 12vw;
color: #4E4E4F;
    text-align: center;
}
.con-box1 img{
    border: 2vw solid #fff;
    opacity: 0;
}

   
